* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.little {
    border: solid 1px black
}

.green {
    background-color: lightgreen;
    grid-area: green-booger-box;
}

.blue {
    background-color: lightblue;
    grid-area: blue-some-other-designation;
}

.pink {
    background-color: pink;
    grid-area: pink;
}

.yellow {
    background-color: lightgoldenrodyellow;
    grid-area: yellow;
}

main { 
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
        "pink . green-booger-box green-booger-box"
        "yellow yellow . blue-some-other-designation"
    }
